html {
  height: 100%;
  width: 100%;
  background-image: url("https://pub-static.fotor.com/assets/bg/835e8b4a-6aad-48b9-a105-cff386b3afc3.jpg");
 
}
 h1 {
    font-family: "Trirong", serif;
    text-shadow: 2px 3px 2px #ababab;
    font-size: 44px;
    text-align: center;
    padding: 17px;
    border-top-style: solid;
    border-bottom-style: solid;
  }
  h2 {
    font-family: "Trirong", serif;
    text-shadow: 2px 3px 2px #ababab;
    font-size: 20px;
    text-align: center;
    padding: 17px;
  }
  p1 {
    font-family: "Sofia", sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 25;
  }

.fake-button {
          text-decoration: none;
          padding: 15px 10px;
          margin-top: 5px;
          border: 2px solid #D2B49C;
          transition-duration: 0.4s;
          background-color: #F9F2EB;
          float: left;
          border-radius: 7px;
        margin-left: 5px;
  margin-right: 5px;
      }
      
     
     .fake-button:link, .fake-button:visited {
         color: black;
     }
     
     .fake-button:hover {
         background-color: #D2B49C;
      box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.24), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
      color:white;
     }

  #borderimg {
      border: 10px solid transparent;
      padding: 15px;
      border-image: url(border.png) 30 stretch;
  }
