html {
  height: 100%;
  width: 100%;
  background-image: url("https://w.wallhaven.cc/full/72/wallhaven-726mx3.jpg");
  background-size: cover;
}
h1 {
  font-family: "Trirong", serif;
  text-shadow: 2px 3px 2px #ababab;
  font-size: 44px;
  text-align: center;
  padding: 17px;
  border-top-style: solid;
  border-bottom-style: solid;
}
h2 {
  font-family: "Trirong", serif;
  text-shadow: 2px 3px 2px #ababab;
  font-size: 20px;
  text-align: center;
  padding: 17px;
}
p1 {
  font-family: "Sofia", sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 25;
  color: #89CFF0;
}
button {
    box-align: center;
    background-color: #F9F2EB;
    border: 1px dashed #D2B49C;
    border-radius: 7px;
    padding: 15px 10px;
    text-align: center;
    font-size: 11px;
    transition-duration: 0.4s;
    float: left;
}

button:hover {
    background-color: #D2B49C;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.24), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
}

#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 stretch;
}
