html {
  height: 100%;
  width: 100%;
  background-image: url("blue_background.png");
  background-size: cover;
}
body {
  color: white;
}
h1 {
  font-family: "Trirong", serif;
  text-shadow: 2px 3px 2px #ababab;
  font-size: 44px;
  text-align: center;
  padding: 17px;
  border-top-style: solid;
  border-bottom-style: solid;
}
h2 {
  font-family: "Trirong", serif;
  text-shadow: 2px 3px 2px #ababab;
  font-size: 20px;
  text-align: center;
  padding: 17px;
}
p {
  font-family: "Sofia", sans-serif;
  padding: 20px;
  font-size: 25;
  color: white;
}
.fake-button {
          text-decoration: none;
          padding: 15px 10px;
          margin-top: 5px;
          border: 2px solid #015BA8;
          transition-duration: 0.4s;
          background-color: #1D91F3;
          float: left;
          border-radius: 7px;
      }
      
     
     .fake-button:link, .fake-button:visited {
         color: black;
     }
     
     .fake-button:hover {
         background-color: #015BA8;
      box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.24), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
      color:white;
     }


#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 stretch;
}
